@media (max-width: 1440px) {
  .video-preview {
    width: calc(33% - 20px);
  }
}

@media (max-width: 1245px) {
  .video-preview {
    width: calc(
      33.33% - 20px
    ); /* 33.33% width with margins subtracted for three thumbnails in a row */
  }
}

@media (max-width: 800px) {
  .video-preview {
    width: calc(
      50% - 20px
    ); /* 50% width with margins subtracted for two thumbnails in a row */
  }
}

@media (max-width: 600px) {
  .video-preview {
    width: calc(
      100% - 20px
    ); /* 100% width with margins subtracted for one thumbnail in a row */
  }
  .header {
    justify-content: space-between;
  }
  .middle-section {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
  .search-bar {
    display: none;
  }
  .search-button {
    border: none;
    margin-left: -2px;
    margin-right: 5px;
  }
  .search-voice-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
  }
  .right-section {
    width: 120px;
  }
}
